.line
{
    margin-bottom: 1em;
}

.line-chords
{
    display: flex;
    height: 1.5em;
}

.line-stanzaContainer
{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    gap: 0.5em;
}

.line-add-chord-container
{
    display: flex;
    justify-content: right;
}